{% extends 'base_template.html' %}

{% block page_title %}
    Student | Name: {{ name }} | #Reg. No : {{ id }}
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Tutorial Register</h3>
                        <div class="no-print">
                          <a class="btn btn-default view-header-buttons" role="button" href="{% url 'print_tc' student_id=id %}">Print TC</a>
                          <button class="btn btn-default view-header-buttons" onclick="printFunction()">Print Tutorial</button>
                          <a class="btn btn-default view-header-buttons" role="button" href="{% url 'edit_student' student_id=id %}">Edit</a>
                        </div>
                    </div>
                    <!-- /.card-header -->

                    {% comment %} Display Messages {% endcomment %}
                    {% if messages %}
                    <div class="form-group">
                    <div class="col-12">
                        {% for message in messages %}
                        {% if message.tags == "error" %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                        {% elif message.tags == "success" %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    </div>
                    {% endif %}

                        <div class="card-body">
                            {% for field in student %}
                            <table>
                              <tr>
                                <td class="student_field_label">
                                  <b>{{ field.label }}:</b>
                                </td>
                                <td>
                                  {% if field.name == 'student_photo' %}
                                  <br><img class="form-photo" src="{{student_photo}}"><br>
                                  {% elif field.name == 'family_photo' %}
                                  <br><img class="form-photo" src="{{family_photo}}"><br>
                                  {% else %}
                                  <span> {{ field.data }} </span>
                                  {% endif %}                                  
                                </td>
                              </tr>
                            </table>
                                <br>
                            {% endfor %}

                            {% load percentage %}
                            {{ studentmarks.management_form }}
                            {{ studentmarks.non_form_errors.as_ul }}
                            <table id="studentmarks" class="form" BORDER="2">
                            {% for form in studentmarks.forms %}
                              {% if forloop.first %}
                              <thead>
                                <tr>
                                {% for field in form.visible_fields %}
                                <th>
                                  {{ field.label|capfirst }}
                                </th>
                                {% endfor %}
                                <th>Percentage</th>
                                <th>Overall Percentage</th>
                                </tr>
                              </thead>
                              {% endif %}
                              <tr>
                              {% for field in form.visible_fields %}
                                <td>
                                {# Include the hidden fields in the form #}
                                {% if forloop.first %}
                                  {% for hidden in form.hidden_fields %}
                                  {{ hidden }}
                                  {% endfor %}
                                {% endif %}
                                  {{ field.errors.as_ul }}
                                  {% if field.value %}
                                  {{ field.value }}
                                  {% endif %}
                                </td>
                              {% endfor %}
                              <td>
                                {% if form.instance|sem_percentage %}
                                  {{ form.instance|sem_percentage }} %
                                {% endif %}
                              </td>
                              <td>
                                {% for field in form.visible_fields %}
                                  {% if field.label == 'Semester' and id|overall_percentage:field.value %}
                                  {{ id|overall_percentage:field.value }} %
                                  {% endif %}
                                {% endfor %}
                              </td>
                              </tr>
                            {% endfor %}
                            </table>
                        </div>
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

      <style type="text/css" media="print">
        .no-print { display: none; }
      </style>
    
      <script>
        function printFunction() { 
          window.print(); 
        }
      </script>
  {% endblock main_content %}