PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2020-06-26 16:00:03.047162');
INSERT INTO django_migrations VALUES(2,'contenttypes','0002_remove_content_type_name','2020-06-26 16:00:03.058776');
INSERT INTO django_migrations VALUES(3,'auth','0001_initial','2020-06-26 16:00:03.086774');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "student_management_app_customuser_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "customuser_id" integer NOT NULL REFERENCES "student_management_app_customuser" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "student_management_app_customuser_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "customuser_id" integer NOT NULL REFERENCES "student_management_app_customuser" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "student_management_app_courses" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "course_name" varchar(255) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL);
INSERT INTO student_management_app_courses VALUES(1,'BBA','2020-06-26 16:02:21.801590','2020-06-26 16:02:21.801622');
INSERT INTO student_management_app_courses VALUES(2,'MBA','2020-06-26 16:02:24.645198','2020-06-26 16:02:24.645230');
INSERT INTO student_management_app_courses VALUES(3,'Bsc. IT','2020-06-26 16:02:31.233938','2020-06-26 16:02:31.233965');
CREATE TABLE IF NOT EXISTS "student_management_app_sessionyearmodel" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "session_start_year" date NOT NULL, "session_end_year" date NOT NULL);
INSERT INTO student_management_app_sessionyearmodel VALUES(1,'2018-06-01','2020-06-30');
INSERT INTO student_management_app_sessionyearmodel VALUES(2,'2020-06-01','2022-06-30');
CREATE TABLE IF NOT EXISTS "student_management_app_subjects" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "subject_name" varchar(255) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "course_id_id" integer NOT NULL REFERENCES "student_management_app_courses" ("id") DEFERRABLE INITIALLY DEFERRED, "staff_id_id" integer NOT NULL REFERENCES "student_management_app_customuser" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO student_management_app_subjects VALUES(1,'PHP','2020-06-26 16:03:11.580536','2022-12-22 02:19:58.068176',3,22);
INSERT INTO student_management_app_subjects VALUES(2,'Python','2020-06-26 16:03:18.923926','2022-12-22 02:20:12.911082',3,22);
INSERT INTO student_management_app_subjects VALUES(3,'Finance','2020-07-03 08:26:56.663451','2020-07-03 08:26:56.663496',1,2);
CREATE TABLE IF NOT EXISTS "student_management_app_students" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "gender" varchar(50) NOT NULL, "profile_pic" varchar(100) NOT NULL, "address" text NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "admin_id" integer NOT NULL UNIQUE REFERENCES "student_management_app_customuser" ("id") DEFERRABLE INITIALLY DEFERRED, "course_id_id" integer NOT NULL REFERENCES "student_management_app_courses" ("id") DEFERRABLE INITIALLY DEFERRED, "session_year_id_id" integer NOT NULL REFERENCES "student_management_app_sessionyearmodel" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO student_management_app_students VALUES(1,'Female','/media/Vijay%20Thapa%20Pro.jpg','Maxime voluptates porro iste temporibus velit odio','2020-06-26 16:07:55.683155','2020-07-07 14:44:13.981993',5,3,1);
INSERT INTO student_management_app_students VALUES(2,'Female','/media/P1050553.JPG','Error quia tempora est dolor libero qui iusto ea','2020-06-26 16:08:04.811906','2022-12-21 17:15:26.185976',6,3,1);
INSERT INTO student_management_app_students VALUES(3,'Female','','Consequatur sed reprehenderit exercitationem fug','2020-07-01 09:01:18.413862','2020-07-01 09:01:18.438591',7,4,2);
CREATE TABLE IF NOT EXISTS "student_management_app_staffs" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "address" text NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "admin_id" integer NOT NULL UNIQUE REFERENCES "student_management_app_customuser" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO student_management_app_staffs VALUES(7,'Brgy.tan-awan','2022-01-11 02:41:44.954244','2022-01-11 02:41:45.358608',20);
INSERT INTO student_management_app_staffs VALUES(8,'staff1','2022-12-22 02:12:55.096378','2022-12-22 02:12:55.144668',22);
CREATE TABLE IF NOT EXISTS "student_management_app_notificationstudent" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "message" text NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "student_id_id" integer NOT NULL REFERENCES "student_management_app_students" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "student_management_app_notificationstaffs" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "message" text NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "stafff_id_id" integer NOT NULL REFERENCES "student_management_app_staffs" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "student_management_app_feedbackstudent" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "feedback" text NOT NULL, "feedback_reply" text NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "student_id_id" integer NOT NULL REFERENCES "student_management_app_students" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO student_management_app_feedbackstudent VALUES(1,'Please bring some guest lecturers.','We''ll try our best.','2020-07-01 06:04:43.363306','2020-07-01 10:29:48.155417',1);
INSERT INTO student_management_app_feedbackstudent VALUES(2,'Test Feedback from New Student','Tested Successfully. Thanks!','2020-07-01 09:01:45.379054','2020-07-01 10:30:16.325102',3);
INSERT INTO student_management_app_feedbackstudent VALUES(3,replace(replace('Online courses should be interactive.\r\nAnd lectures should be recorded and published, so that the students who have missed the live zoom class can take the classes later.','\r',char(13)),'\n',char(10)),'','2020-07-08 10:53:56.474974','2020-07-08 10:53:56.475044',1);
CREATE TABLE IF NOT EXISTS "student_management_app_feedbackstaffs" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "feedback" text NOT NULL, "feedback_reply" text NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "staff_id_id" integer NOT NULL REFERENCES "student_management_app_staffs" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO student_management_app_feedbackstaffs VALUES(5,'Test','tested','2022-12-22 02:22:26.489201','2022-12-22 02:22:40.945466',8);
CREATE TABLE IF NOT EXISTS "student_management_app_attendancereport" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "status" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "attendance_id_id" integer NOT NULL REFERENCES "student_management_app_attendance" ("id") DEFERRABLE INITIALLY DEFERRED, "student_id_id" integer NOT NULL REFERENCES "student_management_app_students" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO student_management_app_attendancereport VALUES(1,0,'2020-06-26 16:08:33.624682','2020-06-30 16:05:09.120433',1,1);
INSERT INTO student_management_app_attendancereport VALUES(2,0,'2020-06-26 16:08:33.628538','2020-06-30 16:05:09.146564',1,2);
INSERT INTO student_management_app_attendancereport VALUES(3,1,'2020-06-26 16:17:21.845000','2020-06-26 16:17:21.845040',2,1);
CREATE TABLE IF NOT EXISTS "student_management_app_adminhod" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "admin_id" integer NOT NULL UNIQUE REFERENCES "student_management_app_customuser" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO student_management_app_adminhod VALUES(1,'2020-06-26 16:01:24.308729','2020-06-26 16:01:24.311032',1);
INSERT INTO student_management_app_adminhod VALUES(2,'2022-01-11 02:22:25.373433','2022-01-11 02:22:25.560804',19);
INSERT INTO student_management_app_adminhod VALUES(3,'2022-01-11 03:16:01.720278','2022-01-11 03:16:01.810136',21);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "action_time" datetime NOT NULL, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "student_management_app_customuser" ("id") DEFERRABLE INITIALLY DEFERRED, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0));
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('28ky5fajfwshz0ixuwwcdkyueajphzoa','MzdjN2IyZjI5Yjc2NWY3MmVmMGQyYzcyYmIwZGM4MTBlY2VkZGM4ZTp7Il9hdXRoX3VzZXJfaWQiOiI0IiwiX2F1dGhfdXNlcl9iYWNrZW5kIjoic3R1ZGVudF9tYW5hZ2VtZW50X2FwcC5FbWFpbEJhY2tFbmQuRW1haWxCYWNrRW5kIiwiX2F1dGhfdXNlcl9oYXNoIjoiMDhmZTU3YTU5NmUyNDE5M2YyN2M2Yjg2MDYxMDk5MTFmMWZmYzhiNyJ9','2020-07-14 16:03:49.192297');
INSERT INTO django_session VALUES('8kewk0t2qnuy67mzt5wuq0zb8ssxv5cr','MzdjN2IyZjI5Yjc2NWY3MmVmMGQyYzcyYmIwZGM4MTBlY2VkZGM4ZTp7Il9hdXRoX3VzZXJfaWQiOiI0IiwiX2F1dGhfdXNlcl9iYWNrZW5kIjoic3R1ZGVudF9tYW5hZ2VtZW50X2FwcC5FbWFpbEJhY2tFbmQuRW1haWxCYWNrRW5kIiwiX2F1dGhfdXNlcl9oYXNoIjoiMDhmZTU3YTU5NmUyNDE5M2YyN2M2Yjg2MDYxMDk5MTFmMWZmYzhiNyJ9','2020-07-15 10:35:24.577951');
INSERT INTO django_session VALUES('9cyu9a1ydoto0menlqpaovbe8xn7fb8t','MzdjN2IyZjI5Yjc2NWY3MmVmMGQyYzcyYmIwZGM4MTBlY2VkZGM4ZTp7Il9hdXRoX3VzZXJfaWQiOiI0IiwiX2F1dGhfdXNlcl9iYWNrZW5kIjoic3R1ZGVudF9tYW5hZ2VtZW50X2FwcC5FbWFpbEJhY2tFbmQuRW1haWxCYWNrRW5kIiwiX2F1dGhfdXNlcl9oYXNoIjoiMDhmZTU3YTU5NmUyNDE5M2YyN2M2Yjg2MDYxMDk5MTFmMWZmYzhiNyJ9','2020-07-17 08:11:39.876847');
CREATE TABLE IF NOT EXISTS "student_management_app_attendance" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "session_year_id_id" integer NOT NULL REFERENCES "student_management_app_sessionyearmodel" ("id") DEFERRABLE INITIALLY DEFERRED, "subject_id_id" integer NOT NULL REFERENCES "student_management_app_subjects" ("id") DEFERRABLE INITIALLY DEFERRED, "attendance_date" date NOT NULL);
INSERT INTO student_management_app_attendance VALUES(1,'2020-06-26 16:08:33.616027','2020-06-26 16:08:33.616058',1,2,'2020-06-26');
INSERT INTO student_management_app_attendance VALUES(2,'2020-06-26 16:17:21.835165','2020-06-26 16:17:21.835215',1,2,'2020-06-26');
INSERT INTO student_management_app_attendance VALUES(3,'2020-06-26 16:24:18.201475','2020-06-26 16:24:18.201504',1,2,'2020-06-26');
CREATE TABLE IF NOT EXISTS "student_management_app_leavereportstaff" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "leave_date" varchar(255) NOT NULL, "leave_message" text NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "staff_id_id" integer NOT NULL REFERENCES "student_management_app_staffs" ("id") DEFERRABLE INITIALLY DEFERRED, "leave_status" integer NOT NULL);
CREATE TABLE IF NOT EXISTS "student_management_app_leavereportstudent" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "leave_date" varchar(255) NOT NULL, "leave_message" text NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "student_id_id" integer NOT NULL REFERENCES "student_management_app_students" ("id") DEFERRABLE INITIALLY DEFERRED, "leave_status" integer NOT NULL);
INSERT INTO student_management_app_leavereportstudent VALUES(1,'2020-07-10','For Marriage','2020-07-01 06:01:04.097105','2020-07-03 08:01:17.371784',1,1);
INSERT INTO student_management_app_leavereportstudent VALUES(2,'2020-07-25','Sick Leave','2020-07-03 07:38:05.559033','2020-07-03 08:10:13.513671',3,2);
INSERT INTO student_management_app_leavereportstudent VALUES(3,'2020-07-31','Marriage Leave for 2 days.','2020-07-03 08:11:18.247232','2020-07-03 08:11:18.247284',3,0);
CREATE TABLE IF NOT EXISTS "student_management_app_studentresult" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "subject_exam_marks" real NOT NULL, "subject_assignment_marks" real NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "student_id_id" integer NOT NULL REFERENCES "student_management_app_students" ("id") DEFERRABLE INITIALLY DEFERRED, "subject_id_id" integer NOT NULL REFERENCES "student_management_app_subjects" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO student_management_app_studentresult VALUES(1,60.0,55.0,'2020-07-07 05:40:29.583150','2020-07-07 14:46:47.159190',1,1);
INSERT INTO student_management_app_studentresult VALUES(2,68.0,50.0,'2020-07-07 05:41:40.091522','2020-07-07 05:41:40.091565',6,1);
INSERT INTO student_management_app_studentresult VALUES(3,60.0,50.0,'2020-07-07 05:48:19.201166','2020-07-07 05:48:19.201211',2,1);
CREATE TABLE IF NOT EXISTS "student_management_app_customuser" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "user_type" varchar(10) NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO student_management_app_customuser VALUES(1,'pbkdf2_sha256$180000$cQN2VG43Y57f$65XUvkLA6un8ugxA1AcFVRgug9fOKqHO5JtR5iqUVIk=','2022-12-22 02:14:08.098458',1,'admin','Kumar','admin@gmail.com',1,1,'2020-06-26 16:01:24.183536','1','Admin');
INSERT INTO student_management_app_customuser VALUES(2,'pbkdf2_sha256$180000$NzK3OniiDc30$oT4o5w65iAT24t1Ixy4hlYauP0xlULS3qn0LjqAOOZI=',NULL,0,'kunifi','Burch','cihezymo@mailinator.net',0,1,'2020-06-26 16:01:46.478995','2','Ivor');
INSERT INTO student_management_app_customuser VALUES(3,'pbkdf2_sha256$180000$8VW0prx9llRR$M0VMKWuJCLNsobj2MA03gmuG937vp0vItyfJOuI6pQ8=',NULL,0,'rizubin','Powell','tafu@mailinator.net',0,1,'2020-06-26 16:01:49.262524','2','Gretchen');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',24);
INSERT INTO sqlite_sequence VALUES('django_content_type',21);
INSERT INTO sqlite_sequence VALUES('auth_permission',84);
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE UNIQUE INDEX "student_management_app_customuser_groups_customuser_id_group_id_d872a780_uniq" ON "student_management_app_customuser_groups" ("customuser_id", "group_id");
CREATE INDEX "student_management_app_customuser_groups_customuser_id_1e347552" ON "student_management_app_customuser_groups" ("customuser_id");
CREATE INDEX "student_management_app_customuser_groups_group_id_61accfd6" ON "student_management_app_customuser_groups" ("group_id");
CREATE UNIQUE INDEX "student_management_app_customuser_user_permissions_customuser_id_permission_id_af9a6989_uniq" ON "student_management_app_customuser_user_permissions" ("customuser_id", "permission_id");
CREATE INDEX "student_management_app_customuser_user_permissions_customuser_id_41a474d7" ON "student_management_app_customuser_user_permissions" ("customuser_id");
CREATE INDEX "student_management_app_customuser_user_permissions_permission_id_cd344297" ON "student_management_app_customuser_user_permissions" ("permission_id");
CREATE INDEX "student_management_app_subjects_course_id_id_342668dd" ON "student_management_app_subjects" ("course_id_id");
CREATE INDEX "student_management_app_subjects_staff_id_id_5f47119a" ON "student_management_app_subjects" ("staff_id_id");
CREATE INDEX "student_management_app_students_course_id_id_fcd09bed" ON "student_management_app_students" ("course_id_id");
CREATE INDEX "student_management_app_students_session_year_id_id_594fc55d" ON "student_management_app_students" ("session_year_id_id");
CREATE INDEX "student_management_app_notificationstudent_student_id_id_f8c05ed7" ON "student_management_app_notificationstudent" ("student_id_id");
CREATE INDEX "student_management_app_notificationstaffs_stafff_id_id_e69db87c" ON "student_management_app_notificationstaffs" ("stafff_id_id");
CREATE INDEX "student_management_app_feedbackstudent_student_id_id_099e23ad" ON "student_management_app_feedbackstudent" ("student_id_id");
CREATE INDEX "student_management_app_feedbackstaffs_staff_id_id_6f22a616" ON "student_management_app_feedbackstaffs" ("staff_id_id");
CREATE INDEX "student_management_app_attendancereport_attendance_id_id_f765f2a1" ON "student_management_app_attendancereport" ("attendance_id_id");
CREATE INDEX "student_management_app_attendancereport_student_id_id_5a58ceea" ON "student_management_app_attendancereport" ("student_id_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "student_management_app_attendance_session_year_id_id_0d30545d" ON "student_management_app_attendance" ("session_year_id_id");
CREATE INDEX "student_management_app_attendance_subject_id_id_9ae82fd0" ON "student_management_app_attendance" ("subject_id_id");
CREATE INDEX "student_management_app_leavereportstaff_staff_id_id_c7710cd5" ON "student_management_app_leavereportstaff" ("staff_id_id");
CREATE INDEX "student_management_app_leavereportstudent_student_id_id_9ea5372c" ON "student_management_app_leavereportstudent" ("student_id_id");
CREATE INDEX "student_management_app_studentresult_student_id_id_f6cc67b8" ON "student_management_app_studentresult" ("student_id_id");
CREATE INDEX "student_management_app_studentresult_subject_id_id_1f0cd017" ON "student_management_app_studentresult" ("subject_id_id");
COMMIT;
